<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is it daytime?</title>
    <link rel="stylesheet" href="static/style.css">
    <style>
        .container {
            margin-bottom: 20px;
        }
        .minimizable {
            position: relative;
        }
        .minimizable .header {
            cursor: pointer;
            background-color: #f0f0f0;
            padding: 10px;
            font-weight: bold;
        }
        .content {
            padding: 10px;
            display: block;
        }
        .content.minimized {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <h1 id="title">RainRoot</h1>
    </header>

    <div class="container">
        <section class="current-info">
            <p><strong>Current Time:</strong> <span class="value">{{ currentTime }}</span></p>
            <p><strong>Current Date:</strong> <span class="value">{{ currentDate }}</span></p>
        </section>
    </div>

    <div class="container">
        <section class="weather-info">
            <p><strong>Last Updated:</strong> <span class="value">{{ lastUpdated }}</span></p>
            <p><strong>Current Precipitation Status:</strong> <span class="value">{{ currentPrecipitation }}</span></p>
            <p><strong>Current Temp:</strong> <span class="value">{{ currentTemp }}</span></p>
            <p><strong>Sunset:</strong> <span class="value">{{ sunsetTime }}</span></p>
            <p><strong>Sunrise:</strong> <span class="value">{{ sunriseTime }}</span></p>
        </section>
    </div>


</body>
</html>
